body {
  padding: 0;
  margin: 0px;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.main-app {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 1fr;
  gap: 2px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.navbar {
  background-color: rgb(39, 39, 39);
  border: none;
  /* border-radius: 10px; */
  padding: 4px;
}

.views {
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 37px);
  width: calc(100vw - 2px);
  gap: 5px;
}

.btn {
  background-color: rgb(22, 22, 22);
  color: rgba(255, 255, 255, 0.753);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.navbar .btn {
  padding-right: 10px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  border-right: 1px rgb(128, 128, 128) solid;
  /* margin-right: 10px; */
}

.btn-line {
  background-image: url(/public/line-btn.png);
}

.plan-view-menu .btn {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.btn:hover {
  color: white;
}

.view {
  padding: 0;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(121, 121, 121);
  /* border-radius: 10px; */
  overflow: hidden;
  /* cursor: none; */
}

.view-label {
  user-select: none;
  position: absolute;
  color: rgba(255, 255, 255, 0.342);
  margin: 10px;
}

.plan-view-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  text-align: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  margin: 10px;
  margin-top: 50px;
  height: 50%;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 10px;
  background-color: rgba(68, 68, 68, 0.445);
}

.prompt-message {
  color: rgba(255, 255, 255, 0.342);
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.137);
  bottom: 0px;
  margin-left: 5px;
}

canvas {
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* border-radius: 2px; */
  /* object-fit: contain; */
}

.plan-view {
  cursor: none;
}

.hidden {
  display: none;
}

.prof-lock {
  position: absolute;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.726);
  width: 100%;
  height: 100%;
}
